@model List<WebProgramlamaProje.Entity.Blog>

@{
    ViewData["Title"] = "AllBlogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-section" style="background-image: url('https://images.pexels.com/photos/1134166/pexels-photo-1134166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p key=4>Tüm Bloglar</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="latest-news mt-150 mb-150">
	<div class="container">
		<div class="row">
            @foreach (var x in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="/Home/BlogDetails/@x.BlogID">
                            <div class="latest-news-bg">
                                <img src="@x.ImageAdress" style="height:200px; width:863px">
                            </div>
                        </a>
                        <div class="news-text-box">
                            <h3>
                                <a href="/Home/BlogDetails/@x.BlogID">
                                    @x.BlogName
                                </a>
                            </h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> @x.Author.AuthorName</span>
                                <span class="date"><i class="fas fa-calendar"></i>&nbsp;-&nbsp; @(((DateTime)x.BlogDate).ToString("dd-MM-yyyy"))</span>
                            </p>
                            <p>@x.Description.Substring(0, x.Description.Substring(0, 200).LastIndexOf(" "))...</p>
                            <a href="/Home/BlogDetails/@x.BlogID" class="read-more-btn">Daha fazla oku <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>

		<div class="row">
		</div>

	</div>
</div>
<!-- end latest news -->

